@import url('https://fonts.googleapis.com/css2?family=Kanit&family=Roboto&display=swap');
*
{
    margin: 0;
    padding: 0;
}

.background
{
    box-sizing: border-box;
    background-color: rgb(16, 15, 15);
    color:rgb(241, 246, 249);
    width: 100%;
}
.mainHeader
{
    padding: 2% 0% 0% 10%;
    z-index: 1;
}
.menu
{
    display: flex;
    gap: 5%;
}
.menuLink
{
    font-family: 'Roboto', sans-serif;
    font-size: 2em;
    text-decoration: none;
    color:rgb(241, 246, 249);
}
.apresentation
{
    display: flex;
    margin: 5% 10% 10% 10%;
    flex-direction: column;
    justify-content: space-between;
}
.topicApresentation
{
   
   display: flex;
   flex-direction: column;
   margin: 0% 0% 4% 0%;
}
.titleApresentation
{
    font-size: 2.5em;
    font-family: 'Kanit', sans-serif;
}
.textApresentation
{
    font-size: 1.1em;
    font-family: 'Roboto', sans-serif;
}
.subtitleApresentationLinks
{
    font-family: 'Kanit',sans-serif;
    font-weight: 400;
    font-size: 2.0em;
}

.linksApresentation
{
    display: flex;
    justify-content: center;
    gap: 1.5vh;
    color: rgb(241, 246, 249);
    text-align: center;
    font-size: 2rem;
    font-weight: 600;
    font-family: 'Roboto', sans-serif;
    width: 50%;
    text-decoration: none;
    border-radius: 8px;
    border: 3px solid rgb(15, 61, 62);
}
.linksApresentation:hover
{
 background-color: rgb(15, 61, 62);
}
.mainFooter
{
    font-size: 2.0em;
    font-family: 'Kanit', sans-serif;
    background-color: rgb(15, 61, 62);
    padding: 0.2vh;
    text-align: center;
}
.topics
{
    list-style-type: none;
    font-size: 1.0em;
    font-family: 'Roboto', sans-serif;
}
.topics:hover
{
 font-size: 1.05em;
 cursor: pointer;
}
ul
{
    gap: 1.0vh;
}