@import url('https://fonts.googleapis.com/css2?family=Kanit&family=Roboto&display=swap');
:root
{
    --background:rgb(16, 15, 15);
    --mainFontColor:rgb(241, 246, 249);
    --highlighTextColor:rgb(15, 61, 62);
    --titleFont:'Kanit', sans-serif;
    --secondFont:'Roboto', sans-serif;
    --titleSize: 5.0rem;
    --textSize: 2.0rem
}
*
{
    margin: 0;
    padding: 0;
}

.background
{
    box-sizing: border-box;
    background-color: var(--background);
    color:var(--mainFontColor);
    width: 100%;
}
.mainHeader
{
    padding: 2% 0% 0% 10%;
}
.menu
{
    display: flex;
    gap: 5%;
}
.menuLink
{
    font-family: var(--secondFont);
    font-size: var(--textSize);
    text-decoration: none;
    color:var(--mainFontColor);
}
.apresentation
{
    display: flex;
    margin: 5% 10% 10% 10%;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.topicApresentation
{
   
   display: flex;
   flex-direction: column;
   margin: 0% 0% 4% 0%;
}
.titleApresentation
{
    font-size: var(--titleSize);
    font-family: var(--titleFont);
}
.blockResume
{
    margin-left: 23%;
    width: 55%;
    justify-content: center;
    align-items: center;

}
.blockTextApresentation
{
    padding: 2% 0% 0% 0%;
    font-size: var(--textSize);
    font-family: var(--secondFont);
}
.textApresentation
{   padding: 2% 0% 0% 0%;
    font-size: var(--textSize);
    font-family: var(--secondFont);
}
.subtitleApresentationLinks
{
    font-family: var(--titleFont);
    font-weight: 400;
    font-size: var(--titleSize);
}
.linksResume
{
    text-decoration: none;
    color:var(--mainFontColor);
}
.linksApresentation
{
    display: flex;
    justify-content: center;
    gap: 1.5vh;
    color: var(--mainFontColor);
    font-size: var(--textSize);
    font-weight: 600;
    font-family: var(--secondFont);
    width: 50%;
    height: 8vh;
    text-decoration: none;
    border-radius: 8px;
    border: 3px solid var(--highlighTextColor);
}
.textLinks
{
    margin-top: 2.5%;
}
.linksApresentation:hover
{
 background-color: var(--highlighTextColor);
}
.mainFooter
{
    font-size: var(--textSize);
    font-family: var(--titleFont);
    background-color: var(--highlighTextColor);
    padding: 0.2vh;
    text-align: center;
}
.topics
{
    list-style-type: none;
    font-size: var(--textSize);
    font-family: var(--secondFont);
    padding: 1% 0% 0% 0%;
}
@media (max-width:600px) {
    .apresentation
    {
        margin-top: 15%;
        gap: 1vh
    }
    .textLinks
{
    margin-top: 15%;
}
.mainHeader
{
    padding: 8% 0% 0% 10%;
}
}